<div class="container mt-4">
  <h2>Order History</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Total</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (order of orders; track order._id) {
        <tr>
          <td>{{ order._id }}</td>
          <td>{{ order.date | date : "dd/MM/yyyy" }}</td>
          <td>${{ order.totalPrice }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-warning': order.status === 'Pending',
                'bg-success': order.status === 'Confirmed',
                'bg-danger': order.status === 'Cancelled',
                'bg-primary': order.status === 'Shipped'
              }"
            >
              {{ order.status }}
            </span>
          </td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="showDetails(order._id)">
              View Details
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <div *ngIf="toggleDetails" class="modal-overlay">
      <div class="modal-container">
        <button class="close-button" (click)="toggleDetails = false">×</button>
        <div class="order-items">
          <h3>Order Details</h3>
          <ul>
            <li *ngFor="let item of orderDetails.items" class="order-item">
              <div class="item-info p-3">
                <p class="item-title fs-4 fw-semibold text-primary">{{ item.bookId.title }}</p>
                <p class="item-details fs-6">Author: {{ item.bookId.author }}</p>
                <p class="item-details fs-6">Quantity: {{ item.quantity }}</p>
                <p class="item-details fs-6">Price: ${{ item.bookId.price }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>
