<div class="row mb-4">
  <div class="col-md-6">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search books..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearch.emit($event)"
      />
      <button class="btn btn-primary" (click)="onSearchButton()">Search</button>
    </div>
  </div>
  <div class="col-md-6">
    <select
      class="form-select"
      [(ngModel)]="selectedCategoryId"
      (ngModelChange)="onCategoryChange.emit($event)"
    >
      <option value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category._id">
        {{ category.name }}
      </option>
    </select>
  </div>
</div>
