<div class="container mt-4">
    @if (book$ | async; as book) {
    <div class="row">
        <div class="col-md-4">
            <img [src]="book.coverImage" class="img-fluid rounded" [alt]="book.title">
        </div>
        <div class="col-md-8">
            <h2>{{ book.title }}</h2>
            <p class="text-muted">By {{ book.author }}</p>
            <p class="h4 text-primary">\${{ book.price }}</p>
            <p>{{ book.description }}</p>
            <p>Stock: {{ book.stock }} units</p>
            <button class="btn btn-primary" (click)="addToCart(book)">Add to Cart</button>
        </div>
    </div>
    }
</div>